* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

body {
    max-width: 90rem;
    margin: 0 auto;

    display: grid;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-columns: 2fr 0.8fr; 
    grid-template-rows: auto 1fr;
}

@media (max-width: 87.5rem) {
  body {
    grid-template-areas:
      "header"
      "main"
      "aside";
    grid-template-columns: 1fr; 
  }
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

/* header */

header {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-area: header;
}

.header-wrap-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-wrap-1 button:first-child img {
    width: 1.5rem;
    height: 1.5rem;
}
.header-wrap-1 button:nth-child(2) img {
    width: 5.625rem;
    height: 1.25rem;
}
.wrap-input {
    display: flex;
    align-items: center;
}
.wrap-input input {
    width: 21.75rem;
    height: 2.5rem;
    padding-left: 0.375rem;
    border: 1px solid #CCCCCC;
}
.wrap-input button {
    border: 1px solid #CCCCCC;
    border-left: none; 
    background-color: #F8F8F8;
    width: 3.5625rem;
    height: 2.5rem;
}
.wrap-input button img {
    width: 1.5rem;
    height: 1.5rem;
}
.header-wrap-2 {
   display: flex;
   align-items: center;
   gap: 2rem;
}
.profile img {
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 3.125rem;
}

/* main */

main {
    grid-area: main;
    margin-left: 5rem;
    margin-top: 1.75rem;
}

.current-video img {
    width: 100%;
    max-width: 59.5rem;
    height: 33.5625rem;
}
.content-video h2 {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.25rem;
}
.controls-video {
    display: flex;
    align-items: center;
    gap: 2.625rem;
}
.channel-profile {
    display: flex;
    gap: 0.75rem;
}
.channel-profile-content h4 {
    font-weight: 600;
    font-size: 0.875rem;
}
.channel-profile-content span {
    font-size: 0.875rem;
    color: #515151;
}
.btn-subscribe {
    padding: 0.75rem 2.1875rem;
    background-color: #CC0000;
    color: #FFFFFF;
    border-radius: 0.25rem;
    white-space: nowrap;
}
[class^="btn-"] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

[class^="btn-"] span {
    font-weight: 600;
    font-size: 0.875rem;
    color: #000000;
}
.info {
    width: 31.875rem;
    margin-top: 1rem;
}
.info h3 {
    font-weight: 600;
    font-size: 0.875rem;
}
.info p {
    font-size: 0.875rem;
    color: #515151;
    margin-top: 1rem;
}

/* aside */

aside {
    grid-area: aside;
    margin-left: 1.5625rem;
    margin-top: 1.375rem;

    width: 23.25rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside article {
    display: flex;
    align-items: center;
    gap: 1rem;
}

aside article img {
    width: 10rem;
    height: 5.625rem;
}

aside article h3 {
    font-weight: 600;
    font-size: 0.875rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

aside article p {
    font-size: 0.75rem;
    color: #515151;
    margin-bottom: 0.4375rem;
}

aside article span {
    font-size: 0.75rem;
    color: #515151;
    margin-bottom: 0.4375rem;
}

@media (max-width: 87.5rem) {
  aside {
    margin-left: 5rem; 
    width: 90%;
  }
}
